.contenedor-app{
	min-width: screen !important;
	min-height: screen !important;
	height: 100vh;
	scroll-behavior: smooth;
	position: relative;
	margin: auto;
}
.contenedor-header{
	background-color:#202020;
	color:#bd8266; 
	width:screen;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.contenedor-footer{
	background-color:#202020;
	color:#bd8266; 
	min-width: screen !important;
	width:100%;
	position: fixed;
	bottom:0;
	margin: auto;
	display: flex;
	justify-content: center;
}
.footer-margin{
	margin-bottom: 100px;
}
.logo {
	margin-top: -20px;
	will-change: filter;
	transition: filter 300ms;
}
.logof{
	margin-top: -2px;
	text-align: center;
}

@keyframes logo {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo 2s ease 0s 1 normal forwards;
	}
}